body{
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    margin: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: black;
}

h1{
    margin-right: 100px;
    color: rgb(243, 243, 76);
    font-size: 30pt;
    text-shadow: 2px 2px rgb(206, 196, 196);
}

nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav>a{
    padding: 10px 5px;
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

nav>a:hover, a.ativo{
    color: black;
    background-color: white;
}

#introducao{
    margin-top: 70px;
    height: calc(100vh - 110px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/introdução/javascript.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(70, 142, 236);
    color: white;
}

#introducao>h2{
    width: 500px;
    font-size: 25pt;
    text-align: center;
    text-shadow: 3px 3px black;
}

#introducao>p{
    margin: 10px 30px;
    width: 500px;
    font-size: 15pt;
    font-weight: bolder;
    text-align: justify;
    text-shadow: 3px 3px black;
}